.controls {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-button {
	background: #ffffff;
	border: none;
	cursor: pointer;
	border: 1px solid #cccccc;
	width: 40px;
	height: 40px;
	margin: 0 20px;
	border-radius: 50px;
	text-align: center;
}

.icon-button img {
	margin-top: 3px;
	width: 20px;
	height: 20px;
}

.main-button {
	background-color: #f45f0b;
	font-family: Montserrat, 'Helvetica Neue', sans-serif !important;
	color: white;
	border: none;
	border-radius: 50px;
	min-width: 122px;
	padding: 10px 20px 10px 15px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: asset;
}

.main-button img {
	padding-right: 5px;
	width: 24px;
	height: 24px;
}

.main-button:hover {
	background-color: #ff8a00;
}

::ng-deep .spin-timer circle {
	stroke-linecap: round; /* Arrondir les extrémités */
	stroke: url(#linear-gradient) !important; /* Appliquer le dégradé */
}

::ng-deep .spin-timer svg {
	width: 100px;
	height: 100px;
}

/* Ajouter le dégradé avec une balise <defs> et <linearGradient> dans le CSS */
::ng-deep .spin-timer defs {
	content: '';
}

::ng-deep .spin-timer defs linearGradient {
	/* Définition du dégradé */
	stop {
		stop-color: #ff8a00 !important; /* Début du dégradé */
	}

	stop:nth-child(2) {
		stop-color: #000000 !important; /* Fin du dégradé */
		offset: 100%;
	}
}
