<div class="spinner-wrapper">
	<svg width="0" height="0">
		<defs>
			<linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
				<stop offset="0%" stop-color="#FFB84F" />
				<stop offset="100%" stop-color="#F45F0B" />
			</linearGradient>
		</defs>
	</svg>

	<mat-progress-spinner
		class="spin-timer"
		[mode]="mode"
		[value]="value"
		strokeWidth="10"
	>
	</mat-progress-spinner>
	<div class="displayTime">{{ displayTime }}</div>
</div>

<div class="controls">
	<button id="settings-btn" class="icon-button">
		<img
			src="assets/svg/wheel.svg"
			alt="Settings"
			(click)="navigateToSettings()"
		/>
	</button>
	<button id="start-btn" class="main-button" (click)="toggleCountdown()">
		<img [src]="isRunning ? 'assets/svg/pause.svg' : 'assets/svg/play.svg'" />
		<span>{{ isRunning ? 'Pause' : 'Start' }}</span>
	</button>
	<button id="reset-btn" class="icon-button" (click)="resetCountdown()">
		<img src="assets/svg/reset.svg" alt="Reset" />
	</button>
</div>
